doctype html
html.noscroll(lang='en')
  include includes/head.pug
  body(style="background-color: white;")
    // Preloader
    .loader
      img(src='https://ducsc.github.io/img/preloader.svg', alt='Loading...')
    // Notice
    .container(class='text-center')
      h1 Here is the list of all registered members
      form(action="/members", method="get")
        button(class="btny btn btn-info" type="submit", value="card" name="type" onclick="showLoader()") Members List - Card 
      //- - con   st userDataDemo = [sud, sud, sud, sud, sud, sud]
      a.btn.btn-primary#show-hide-btn(href=`#` onclick="togleColumnVisibility()") Show more info
      table(class='table table-striped table-bordered')
          tr
              th.picture Picture
              th.name Name
              th.member-id.hideColumn Member ID
              th.section.hideColumn Section
              th.roll.hideColumn Roll
              th.phone.hideColumn Phone
          each n, i in userData || userDataDemo
              tr
                  - const fullName = n.fname+' '+n.lname;
                  td.picture
                    - let smallImage = n.photo && [ n.photo[0] && n.photo[0].slice(0, -4), 's', n.photo[0].slice(-4)].join('');
                    if n.photo && n.photo[0]
                      img.pp(src=`${smallImage}`, alt=`${fullName}'s Picture` style="height: 80px;object-fit: cover;width: 80px;")
                    else 
                      img.pp(src="https://i.imgur.com/fIgVWP1s.png", alt=`${fullName}'s Picture` style="height: 80px;object-fit: cover;width: 80px;")
                      
                  td.name
                    strong(style="text-transform: capitalize")= fullName
                    if n.isApproved
                      i.fas.fa-check-circle(style="color: dodgerblue;")
                    else
                      i.fas.fa-times-circle(style="color: gray;")
                  td.member-id.hideColumn= n.memberId
                  td.section.hideColumn=n.section
                  td.roll.hideColumn=n.roll
                  td.phone.hideColumn=n.phone
    // page contents
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js', integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k', crossorigin='anonymous')

    script.
      const memberId = document.querySelectorAll('.member-id');
      const section = document.querySelectorAll('.section');
      const roll = document.querySelectorAll('.roll');
      const phone = document.querySelectorAll('.phone');
      const table = document.querySelector('.table');
      const togleColumnVisibility = () => {
        const button = document.querySelector('#show-hide-btn');
        if (button.innerText == 'Show more info'){
          for (var i = 0; i < roll.length; i++){
            button.innerText = 'Hide more info';
            roll[i].classList.remove('hideColumn');
            section[i].classList.remove('hideColumn');
            phone[i].classList.remove('hideColumn');
            table.classList.add('table-responsive-c');
          }
        } else {
            for (var i = 0; i < roll.length; i++){
            button.innerText = 'Show more info';
            roll[i].classList.add('hideColumn');
            section[i].classList.add('hideColumn');
            phone[i].classList.add('hideColumn');
            table.classList.remove('table-responsive-c');
            }
          }
      }
    script.
      const btn = document.getElementsByClassName('btny');
      function showLoader(){
        const loader = document.querySelector('.loader');
        loader.classList.remove('hidden');
        };
