doctype html
html.noscroll(lang='en')
  include includes/head.pug
  body(style="background-color: white;")
    // Preloader
    .loader
      img(src='https://daniasc.team/img/preloader.svg', alt='Loading...')
    // Notice
    .container(class='text-center')
      h1 Here is the list of all registered members
      form(action="members", method="get")
         button(class="btny btn btn-info" type="submit", value="table" name="type",  onclick="showLoader()") Members List - Table
      //- - const sud = {"_id":"s5c91b6e25c1e530274c32215","fname":"Nurul","lname":"Huda","email":"nurulhuda859g@gmail.com","password":"111111","roll":202563,"shift":"Day","batch":"HSC-20","section":"S4","phone":"01948297466","message":"626","memberId":"20-D-S4-2563","photo":"np.png","__v":0}
      //- - const userDataDemo = [sud, sud, sud, sud, sud, sud, sud];
      .row.align-items-center
        each n, i in userData || userDataDemo
          - const fullName = n.fname+' '+n.lname;
          - const memberType = 'Member'
          .col-12.col-sm-6.col-md-4.col-lg-4.col-xl-3(style='width:300px;')
            .card(style="height:850px;")
              - let midiumImage = [n.photo[0].slice(0, -4), 'm', n.photo[0].slice(-4)].join('');
              if n.photo[0]
                img.card-img-top(src=`${midiumImage}`, alt=`${fullName}'s Picture` style='width:100%; height:270px; object-fit:cover')
              else
                img.card-img-top(src="https://i.imgur.com/fIgVWP1m.png", alt=`${fullName}'s Picture` style='width:100%; height:270px; object-fit:cover')
              .card-body
                h2.card-title.name-card=fullName
                  if n.isApproved
                    i.fas.fa-check-circle(style="color: dodgerblue;")
                  else
                    i.fas.fa-times-circle(style="color: gray;")
                p=n.bio
                h6=`${n.memberType || memberType} of DSC`
                //- p Dania University College
                p=`Batch: ${n.batch}`
                p=`Roll: ${n.roll}`
                h6=`Member ID: ${n.memberId}`
              .contact-box
                h3
                  if n.socials && n.socials.fb
                    a.sb.fab.fa-facebook-square(href=`https://fb.me/${n.socials.fb}` target="_blank")
                  if n.socials && n.socials.tw
                    a.sb.fab.fa-twitter(href=`https://twitter.com/${n.socials.tw}` target="_blank")
                  if n.socials && n.socials.ig
                    a.sb.fab.fa-instagram(href=`https://instagram.com/${n.socials.ig}` target="_blank")
                a.btn.btn-dark(href=`tel:+88${n.phone}`)=`Call: ${n.phone}`
            br
    script.
      const btn = document.getElementsByClassName('btny');
      function showLoader(){
        const loader = document.querySelector('.loader');
        loader.classList.remove('hidden');
        };
      //- btn.addEventListener('click', showLoader)