doctype html
html(lang='en')
    include includes/head.pug
    body(style='background:white;')
        .container.text-center
            // Modal
            #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true' style='margin-top: 80px;')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5#exampleModalLabel.modal-title Update Your Profile Image
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .modal-body
                            form(action="/member/update-image"  method='POST', enctype='multipart/form-data')
                                input(type="file", name="newImage" required)
                                .modal-footer
                                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                                    button.btn.btn-primary(type='submit') Upload

            h3.alert.alert-info  Profile Page
            br
            - const fullName = fname+' '+lname;
            .row
                .col-12.col-sm-12.col-md-5.col-lg-4.col-xl-4(style='width:300px;')
                    .card(style="height:800px;")
                        if photo[0]
                            img.card-img-top(src=`${photo[0]}`, alt=`${fullName}'s Picture` style='width:100%; height:270px; object-fit:cover')
                        else
                            img.card-img-top(src="https://i.imgur.com/fIgVWP1.png", alt=`${fullName}'s Picture` style='width:100%; height:270px; object-fit:cover')
                        .text-right
                            button.btn.btn-dark(type='file' style='width:60px;margin-top:-80px;opacity: 0.8;'  data-toggle="modal" data-target="#exampleModal") Edit
                        .card-body
                            h2.card-title.name-card=fullName
                                if isApproved
                                    i.fas.fa-check-circle(style="color: dodgerblue;")
                                else
                                    i.fas.fa-times-circle(style="color: gray;")
                            p=bio
                            h6=`${memberType || memberType} of DSC`
                            p=`Batch: ${batch}`
                            p=`Roll: ${roll}`
                            h6=`Member ID: ${memberId}`
                        .contact-box
                            h3
                                if socials && socials.fb.length != 0
                                    a.sb.fab.fa-facebook-square(href=`https://fb.me/${socials.fb}` target="_blank")
                                if socials && socials.tw.length != 0
                                    a.sb.fab.fa-twitter(href=`https://twitter.com/${socials.tw}` target="_blank")
                                if socials && socials.ig.length != 0
                                    a.sb.fab.fa-instagram(href=`https://instagram.com/${socials.ig}` target="_blank")
                            a.btn.btn-dark(href=`tel:+88${phone}`)=`Call: ${phone}`
                    br
                .col-12.col-sm-12.col-md-7.col-lg-8.col-xl-8(style='width:300px;')
                    .card.text-left
                        .card-body
                            h4.card-title.text-center Details About You
                            form.profileForm(action='/register/update' method='POST' onInput='makeBtnEnabled()')

                                .form-row
                                    .col
                                        label(for='fname') First Name:
                                        input(name='fname' value=`${fname}` id='fname' readonly required)
                                    .col
                                        label(for='lname') Last Name: 
                                        input(name='lname' value=`${lname}` id='lname' readonly required)
                                .form-group
                                    label(for='bio') Bio:
                                    input(name='bio' value=`${bio}` id='bio' maxlength='50' readonly required)
                                .form-group
                                    label(for='bio') Email:
                                    input(name='email' value=`${email}` id='bio' readonly)
                                .form-group
                                    label(for='bio') Phone:
                                    input(name='phone' value=`${phone}` id='bio' readonly)
                                    br
                                    br
                                    p.text-center Social Links:                                
                                .form-row
                                    .col
                                        small.form-text.text-muted Facebook Username
                                        input(name='fb' placeholder='facebook' value=`${socials.fb}` id='bio' readonly)
                                    .col
                                        small.form-text.text-muted Twitter Username
                                        input(name='tw' placeholder='twitter' value=`${socials.tw}` id='bio' readonly)
                                    .col
                                        small.form-text.text-muted Instagram Username
                                        input(name='ig' placeholder='instagram'  value=`${socials.ig}` id='bio' readonly)
                                        input(name='memberId' placeholder='instagram' id='bio' hidden value=`${memberId}`)
                                .text-right
                                    button.btn.btn-primary(type='submit' id='submitBtn' style='display:none;' disabled) Submit     
                                    button.btn.btn-info(onclick='toggleEdit()' type='button' id='changEditState') Edit                            
                            .badges.text-center
                                span.badge.badge-success=`Type: ${memberType}`
                                span.badge.badge-info(style='margin:5px;')=`Batch: ${batch}`
                                span.badge.badge-success=`Roll: ${roll}`
                                br
                                span.badge.badge-primary=`Member ID: ${memberId}`
                                if isSuper
                                    h3
                                        span.badge.badge-danger Super
                                if isAdmin
                                    h3
                                        span.badge.badge-warning Admin
                                            a(href='/admin') -Manage
                    br
                    button.btn.btn-info(onclick='logout()') Logout                            
        script.
            function toggleEdit() {
                let toggleEditBtn = document.querySelector('#changEditState');
                let submitBtn = document.querySelector('#submitBtn');

                if (toggleEditBtn.innerText == 'Edit') {
                    let inputs, index;
                    inputs = document.getElementsByTagName('input');
                    for (index = 0; index < inputs.length; ++index) {
                        inputs[index].removeAttribute('readonly');
                        inputs[index].style = 'border: 1px solid;background-color: white;';
                    }
                    inputs[0].focus();
                    toggleEditBtn.innerText = 'Cancel'
                    submitBtn.style.display = 'inline-block';}
                    
                    else {
                    let inputs, index;
                    inputs = document.getElementsByTagName('input');
                    for (index = 0; index < inputs.length; ++index) {
                        inputs[index].setAttribute('readonly', '');
                        inputs[index].style = '';
                    }
                    inputs[0].blur();
                    toggleEditBtn.innerText = 'Edit'
                    submitBtn.style.display = 'none';}

                    }
            function logout() {document.cookie = 'token=';window.location.href='/login'}

            const updateProfileBtn = document.getElementById('submitBtn');
            function makeBtnEnabled () {
                console.log('make btn dble run')
                updateProfileBtn.removeAttribute('disabled');
            }
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
